@import "tailwindcss";

@theme {
  --color-redRobin: #cc0000;
  --color-pickleGreen: #009900;
  --color-bunBeige: #e7dfc6;
  --color-retroBlue: #351fc6;
  --color-neonPink: #ff00ff;
  --font-neueMontreal: neueMontreal;
  --font-rightGrotesk: rightGrotesk;
}

@keyframes marquee-x {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-y {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@utility animate-marquee-horizontal {
  animation: marquee-x var(--duration, 20s) linear infinite;
}

@utility animate-marquee-vertical {
  animation: marquee-y var(--duration, 10s) linear infinite;
}

h1 {
  @apply font-rightGrotesk font-semibold text-[84px] leading-[90px] tracking-[.5%];
}

h2,.h2 {
  @apply font-rightGrotesk font-semibold text-[48px] tracking-[.5%];
}

h3 {
  @apply font-neueMontreal font-medium text-[30px] tracking-[.5%] leading-[30px];
}

h4,
li,
.li {
  @apply font-rightGrotesk font-semibold text-[20px] leading-[20px] tracking-[.5%] uppercase list-none;
}

p {
  @apply font-neueMontreal font-medium text-[24px] leading-[28px] tracking-[.5%];
}

nav li {
  @apply text-bunBeige leading-0 transition-all duration-400 hover:text-neonPink hover:cursor-pointer mt-2;
}

.linkHover .span1,
.linkHover .span2 {
  @apply duration-500;
}
